<ion-view view-title="Wrasslin">
  <ion-nav-buttons side="right">
    <button ng-if="!isAuthorised()" class="button" ng-click="login()">
      Log In
    </button>
    <button ng-if="isAuthorised()" class="button" ng-click="logout()">
      Log Out
    </button>
  </ion-nav-buttons>
  <ion-content delegate-handle="scrollArea">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="populateEventInfo()"></ion-refresher>
      <div class="center">
        <img class="headerimg" src="./img/banner.jpg" />
      </div>
      <div class="center" ng-if="!activeEvent">
          <h3 class="light">No active events</h3>
          <button ng-if="isAuthorised()" class="button button-clear button-balanced" ng-click="goToEvents()">Create Event</button>
      </div>
      <ion-list ng-if="activeEvent">
        <ion-item class="item-dark">
          <button class="pull-right button scoresButton" ng-click="showScore(activeEvent)">Score</button>
          <h2 class="header">{{activeEvent.name}}</h2>
          <p class="dull">{{activeEvent.location}} : {{activeEvent.date | date:dateFormat}}</p>
          <hr>
          <ion-item class="center item-dark"
                    ng-click="toggleGroup(match)"
                    class="padding center" ng-repeat="match in activeMatches | orderBy: '-date'" type="item-text-wrap" >
            <div ng-class="{activeGroup: isGroupShown(match)}">
              <h2 class="title lessPadding center">
                <span ng-class="{'isWinner': match.winner==match.p1}">{{match.p1}}</span> vs <span ng-class="{'isWinner': match.winner==match.p2}">{{match.p2}}</span></h2>
              <button ng-if="match.active && isCreator(activeEvent)" class="button button-balanced" ng-click="setWinner(match, activeEvent)">Set Winner</button>
              <p ng-if="match.votes">Votes: {{match.votes.length}}</p>
              <ion-list ng-if="!match.active || hasUserVoted(match)">
                <ion-item ng-repeat="vote in match.votes" class="item-accordion center item-avatar noborder item-dark" ng-show="isGroupShown(match)">
                  <img class="epic" src="{{vote.img}}" /><p class="padding-top"><strong>{{vote.name}}</strong> voted <strong>{{vote.vote}}</strong></p>
                </ion-item>
              </ion-list>
              <div ng-if="match.active && isAuthorised() && !hasUserVoted(match)">
                <button class="button button-block button-balanced" ng-click="vote(activeEvent, match, match.p1)">
                  {{match.p1}}
                </button>
                VS
                <button class="button button-block button-balanced" ng-click="vote(activeEvent, match, match.p2)">
                  {{match.p2}}
                </button>
              </div>
            </div>
          </ion-item>
        </ion-item>
      </div>
    </ion-list>

    <ion-list ng-if="lastActiveEvent">
      <ion-item class="item-dark">
          <h3 class= "light">Recent Event</h3>
        <button class="pull-right button scoresButton" ng-click="showScore(lastActiveEvent)">Score</button>
        <h2 class="header">{{lastActiveEvent.name}}</h2>
        <p class="dull">{{lastActiveEvent.location}} : {{lastActiveEvent.date | date:dateFormat}}</p>
        <hr>
        <ion-item class="center item-dark"
                  ng-click="toggleGroup(match)"
                  class="padding center" ng-repeat="match in lastActiveMatches | orderBy: '-date'" type="item-text-wrap" >
          <div ng-class="{activeGroup: isGroupShown(match)}">
            <h2 class="title lessPadding center">
              <span ng-class="{'isWinner': match.winner==match.p1}">{{match.p1}}</span> vs <span ng-class="{'isWinner': match.winner==match.p2}">{{match.p2}}</span></h2>
            <p ng-if="match.votes.length>0">Votes: {{match.votes.length}}</p>
            <ion-list ng-if="!match.active || hasUserVoted(match)">
              <ion-item ng-repeat="vote in match.votes" class="item-accordion center item-avatar noborder item-dark" ng-show="isGroupShown(match)">
                <img class="epic" src="{{vote.img}}" /><p class="padding-top"><strong>{{vote.name}}</strong> voted <strong>{{vote.vote}}</strong></p>
              </ion-item>
            </ion-list>
          </div>
        </ion-item>
      </ion-item>
    </div>
  </ion-list>


  </ion-content>
</ion-view>
