<ion-view view-title="Events">
  <ion-nav-buttons side="right">
    <button ng-if="isAuthorised()" class="button" ng-click="addEvent()">
      Add New
    </button>
  </ion-nav-buttons>
  <ion-content delegate-handle="scrollArea">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
    <div class="center">
      <img class="headerimg" src="./img/banner.jpg" />
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right item-dark" on-hold="delete(event)" ng-repeat="event in events | orderBy: '-date'" type="item-text-wrap" href="#/tab/events/{{event.$id}}">
        <h2>{{event.name}}</h2>
        <p>{{event.location}} : {{event.date | date:dateFormat}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
