<ion-view view-title="{{event.name}}">
  <ion-content class="padding">
    <h2>{{event.name}}</h2>
    <p class="padding">Date: {{event.date | date:dateFormat}}</p>
    <ul class="list">
      <li class="item" ng-repeat="match in eventMatches">
        <p>{{match.type}}</p>
        <strong>{{match.p1}}</strong> Vs <strong>{{match.p2}}</strong>
      </li>
    </ul>
    <div ng-if="event.active">
      <button class="button button-full button-positive" ng-click="addMatch()">
        Add Match
      </button>
    </div>
  </ion-content>
</ion-view>
