<ion-view view-title="{{event.name}}">
    <ion-nav-buttons side="right">
      <button ng-if="isAuthorised()" class="button" ng-click="addMatch()">
        Add Match
      </button>
    </ion-nav-buttons>
  <ion-content delegate-handle="scrollArea">
    <ion-list>
        <ion-item class="item-dark">
              <button ng-if="event.active && isCreator(event)" class="pull-right button scoresButton" ng-click="eventComplete(event)">Finish</button>
              <button ng-if"!event.active" class="pull-right button scoresButton" ng-click="showScore(event)">Score</button>
              <h2 class="header">{{event.name}}</h2>
              <p class="dull">{{event.location}} : {{event.date | date:dateFormat}}</p>
              <p class="light" ng-if="event.winner">Champion: <strong>{{event.winner}}</strong></p>
        </ion-item>
        <ion-item class="item-dark">
          <ion-item class="noPadding center item-dark" ng-repeat="match in event.matches | orderBy: '-date'" type="item-text-wrap" >
            <div>
              <h2 class="title padding center">
                <span ng-class="{'isWinner': match.winner==match.p1}">{{match.p1}}</span> vs <span ng-class="{'isWinner': match.winner==match.p2}">{{match.p2}}</span></h2>
            </div>
          </ion-item>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
