<ion-view view-title="Events">
<ion-content>
    <ion-list>
        <ion-item ng-repeat="chat in chats | orderBy: 'date'" class="noborder item-dark" ng-class="getUid()==chat.uid ? 'item-avatar-right': 'item-avatar'">
        <img class="epic" src="{{chat.img}}"/><h3 class="dark">{{chat.name}}  <span class="smaller">{{chat.date | date:'M/d/yyyy HH:mm:ss'}}</span></h3><p class="paddingTop wrap">{{chat.text}}</p>
    </ion-item>
    </ion-list>
 </ion-content>

 <ion-footer-bar keyboard-attach class="item-input-inset bottomMargin bar-dark" ng-if="isAuthorised()">
    <label class="item-input-wrapper item-dark">
      <input type="text" placeholder="Message" ng-model="newChat.text">
    </label>
    <button class="button button-balanced" ng-click="chat()">
      Send
  </button>
  </ion-footer-bar>

</ion-view>
