<ion-view view-title="{{event.name}}">
  <ion-nav-buttons side="right">
    <button ng-if="!isAuthorised()" class="button" ng-click="login()">
      Log In
    </button>
    <div ng-if="isAuthorised()" ng-init="getUsername()">
      <button class="username button button-clear button-balanced">
        {{username}}
      </button>
      <button class="button" ng-click="logout()">
        Log Out
      </button>
    </div>
  </ion-nav-buttons>
  <ion-floating-button ng-if="isAuthorised() && isCreator(event)"  ng-click="addMatch()" has-footer="true" button-color="#33cd5f" icon="ion-plus">  </ion-floating-button>
  <ion-content delegate-handle="scrollArea">
      <ion-list ng-if="event">
        <ion-item class="item-dark">
          <button ng-if="event.active && isCreator(event)" class="pull-right button scoresButton" ng-click="eventComplete(event)">Finish</button>
          <button class="pull-right button scoresButton" ng-click="showScore(event)">Score</button>
          <h2 class="header">{{event.name}}</h2>
          <p class="dull">{{event.location}} : {{event.date | date:dateFormat}}</p>
          <p ng-if="event.winner">Champion: {{event.winner}}</p>
          <hr>
          <ion-item class="center item-dark"
                    ng-click="toggleGroup(match)"
                    class="padding center" ng-repeat="match in matches | orderBy: '-date'" type="item-text-wrap" >
            <div ng-class="{activeGroup: isGroupShown(match)}">
              <h2 class="title lessPadding center">
                <span ng-class="{'isWinner': match.winner==match.p1}">{{match.p1}}</span> vs <span ng-class="{'isWinner': match.winner==match.p2}">{{match.p2}}</span></h2>
              <button ng-if="match.active && isCreator(event)" class="button button-balanced" ng-click="setWinner(match, event)">Set Winner</button>
              <p ng-if="match.votes.length>0">Votes: {{match.votes.length}}</p>
              <ion-list>
                <ion-item ng-repeat="vote in match.votes" class="item-accordion center item-avatar noborder item-dark" ng-show="isGroupShown(match)">
                  <img class="epic" ng-if="vote.img" src="{{vote.img}}" /><p class="padding-top"><strong>{{vote.name}}</strong> voted <strong>{{vote.vote}}</strong></p>
                </ion-item>
              </ion-list>
            </div>
          </ion-item>
        </ion-item>
      </div>
    </ion-list>

  </ion-content>
</ion-view>
