<ion-view view-title="Events">
  <ion-nav-buttons side="right">
    <button ng-if="!isAuthorised()" class="button" ng-click="login()">
      Log In
    </button>
    <div ng-if="isAuthorised()" ng-init="getUsername()">
      <button class="username button button-clear button-balanced">
        {{username}}
      </button>
      <button class="button" ng-click="logout()">
        Log Out
      </button>
    </div>
  </ion-nav-buttons>
  <ion-floating-button ng-if="isAuthorised()"  ng-click="addEvent()" has-footer="true" button-color="#33cd5f" icon="ion-plus">  </ion-floating-button>
  <ion-content delegate-handle="scrollArea">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
    <div class="center">
      <img class="headerimg" src="./img/banner.jpg" />
    </div>
    <div class="center" ng-if="events.length<=0">
        <h3 class="light">No active events</h3>
        <button ng-if="isAuthorised()" class="button button-clear button-balanced" ng-click="addEvent()">Create Event</button>
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right item-dark" on-hold="delete(event)" ng-repeat="event in events | orderBy: '-date'" type="item-text-wrap" href="#/tab/events/{{event.$id}}">
        <h2>{{event.name}}</h2>
        <p>{{event.location}} : {{event.date | date:'medium'}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
