<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
    <button class="button button-positive" ng-click="createUser()">Create Account</button>
    <button class="button button-positive" ng-click="signOut()">Sign Out</button>
    <button class="button button-positive" ng-click="signIn()">Sign In</button>
    <button class="button button-positive" ng-click="addWrestler()">Add Wreslter</button>
  </ion-content>
</ion-view>
