<ion-view view-title="Events">
<ion-content>
    <ion-list>
        <ion-item ng-repeat="chat in chats | orderBy: 'date'" class="noborder item-dark" ng-class="getUid()==chat.uid ? 'item-avatar-right': 'item-avatar'">
        <img class="epic" src="{{chat.img}}"/><h3 class="dark">{{chat.name}}  <span class="smaller">{{chat.date | date:'M/d/yyyy HH:mm:ss'}}</span></h3><p class="paddingTop wrap">{{chat.text}}</p>
    </ion-item>
    </ion-list>
    <ion-item class="item-input-inset item-dark">
      <label class="item-input-wrapper">
        <input type="text" ng-model="newChat.text" placeholder="Type..">
      </label>
      <button ng-click="chat()" class="button button-small button-balanced">
        Send
      </button>
  </ion-item>
 </ion-content>
</ion-view>
