<ion-view view-title="Wrestlers">
    <ion-nav-buttons side="right">
      <button ng-if="isAuthorised()" class="button" ng-click="addWrestler()">
        Add Wreslter
      </button>
    </ion-nav-buttons>
  <ion-content>
    <ion-list>
        <ion-item class="item-icon-left" on-hold="delete(wrestler)" ng-repeat="wrestler in wrestlers | orderBy: 'name'">
            <i ng-if="!wrestler.isTeam" class="icon ion-ios-person"></i>
            <i ng-if="wrestler.isTeam" class="icon ion-ios-people"></i>
            {{wrestler.name}} </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
