<ion-view view-title="Chat">
  <ion-nav-buttons side="right">
    <button ng-if="!isAuthorised()" class="button" ng-click="login()">
      Log In
    </button>
    <div ng-if="isAuthorised()" ng-init="getUsername()">
      <button class="username button button-clear button-balanced">
        {{username}}
      </button>
      <button class="button" ng-click="logout()">
        Log Out
      </button>
    </div>
  </ion-nav-buttons>
<ion-content>
  <div class="center">
    <img class="headerimg" src="./img/banner.jpg" />
  </div>
    <ion-list ng-if="chats">
        <ion-item ng-repeat="chat in chats | orderBy: 'date'" class="noborder item-dark" ng-class="getUid()==chat.uid ? 'item-avatar-right': 'item-avatar'">
        <img class="epic" ng-if="chat.img" src="{{chat.img}}"/><h3 class="dark">{{chat.name}}  <span class="smaller">{{chat.date | date:'medium'}}</span></h3><p class="paddingTop wrap">{{chat.text}}</p>
    </ion-item>
      <p>&nbsp;&nbsp;&nbsp;</p>
      <p>&nbsp;&nbsp;&nbsp;</p>
    </ion-list>
 </ion-content>

 <ion-footer-bar keyboard-attach class="item-input-inset bottomMargin bar-dark" ng-if="isAuthorised()">
    <label class="item-input-wrapper item-dark">
      <input type="text" placeholder="Message" ng-model="newChat.text">
    </label>
    <button class="button button-balanced" ng-click="chat()">
      Send
  </button>
  </ion-footer-bar>

</ion-view>
