<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-bottom tabs-background-positive tabs-color-light">
  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Events Tab -->
  <ion-tab title="Events" icon-off="ion-ios-monitor-outline" icon-on="ion-ios-monitor" href="#/tab/events">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Wrestlers" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/wrestlers">
    <ion-nav-view name="tab-wrestlers"></ion-nav-view>
  </ion-tab>
</ion-tabs>
