<ion-tabs class="tabs-icon-top tabs-top tabs-background-dark tabs-color-light">
  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Chat" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chat">
    <ion-nav-view name="tab-chat"></ion-nav-view>
  </ion-tab>

  <!-- Events Tab -->
  <ion-tab title="Events" icon-off="ion-ios-monitor-outline" icon-on="ion-ios-monitor" href="#/tab/events">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Wrestlers" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/wrestlers">
    <ion-nav-view name="tab-wrestlers"></ion-nav-view>
  </ion-tab>
</ion-tabs>
