<ion-view view-title="Wrasslin">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="event in events | orderBy: '-date'" type="item-text-wrap">
        <h2>{{event.name}}</h2>
        <p>{{event.date | date:dateFormat}}</p>
        <ion-item class="item-remove-animate item-icon-right" ng-repeat="match in event.matches | orderBy: '-date'" type="item-text-wrap">
          <h2>{{match.type}}</h2>
          <p>{{match.p1}} vs {{match.p2}}</p>
        </ion-item>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
