.center{
  text-align:center;
}


.fullWidth {
  width: 100%; /* Or whatever you'd like the width to be */
}

.fullWidth select {
  left: 20px;
}

.lessPadding{
    padding: 5px !important;
}

.header{
    font-size:1.75em !important;
}

.isWinner{
  font-weight:bold;
  color:green;
  font-size:1.2em;
}

.activeGroup{
    background-color:#eee;
    padding:2px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.2s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
